CONFIG_IDF_TARGET="esp32c3"
CONFIG_HTTPD_WS_SUPPORT=y
CONFIG_LWIP_LOCAL_HOSTNAME="elmot-oscl.local"
CONFIG_LWIP_MAX_SOCKETS=50
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# WiFi AP defaults
CONFIG_ESP_WIFI_AP_CHANNEL=1
CONFIG_ESP_MAX_STA_CONN_AP=4
CONFIG_ESP_MAXIMUM_STA_RETRY=5

CONFIG_ESP_WIFI_AUTH_WPA2_PSK=y
