# WiFi STA defaults
CONFIG_ESP_WIFI_REMOTE_AP_SSID="Your Wi-Fi SSID"
CONFIG_ESP_WIFI_REMOTE_AP_PASSWORD="Your Wi-Fi password"

# WiFi AP defaults
CONFIG_ESP_WIFI_AP_SSID="FoxilloScope"
CONFIG_ESP_WIFI_AP_PASSWORD=""
CONFIG_LWIP_LOCAL_HOSTNAME="f-scope.local"